.container{
    display: flex;
    position: fixed;
    flex-direction: column;
    right: 0;
    top: calc(-100% + 5.34rem);
    background-color: var(--baby-powder);
    z-index: 100;
    border: 2px solid var(--oxford-blue);
    border-top: none !important;
    transition: .5s;

    .separator{
        width: 95%;
        height: min-content;
        color: var(--cinza-claro);
        padding: 0;
        margin: 0;
        align-self: center;
        border-bottom: 2px;
    }

    .option{
        border: none;    
        background-color: rgba(0, 0, 0, 0);
        width: 100%;
        text-align: center;
        padding: 1rem 3rem;
        font-size: 22px;
        cursor: pointer;
        transition: .3s;
    }

    .option:hover{
        background-color: rgba(0, 0, 0, .18);
    }
}